# packages
bikeshare-fe/node_modules
bikeshare-mw/node_modules

# Non-source code data
bikeshare-be/data
bikeshare-db/db-files

npm-debug.log*
yarn-debug.log*
yarn-error.log*

index.js
node_modules

# Personal
.bashrc
.bash_history
.bash_logout
.npm
.profile
.local
.gitconfig
.cache
.config
.python_history
.ssh
.viminfo
.vscode
.vscode-server
.vscode.wget-hsts
.wget-hsts
bikeshare-db
bikeshare-fe/.gitignore
bikeshare-mw/.gitignore